body {
    background: linear-gradient(135deg, #e3f2fd, #f8f9fa);
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-weight: bold;
    color: #212529;
}

.post-card {
    height: 100%;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    overflow: hidden;
}

.post-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-number {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0d6efd;
    color: white;

    border-radius: 50%;

    font-size: 20px;
    font-weight: bold;
}

.card-title {
    color: #0d6efd;
    text-transform: capitalize;
}

#searchInput {
    border-radius: 30px;
    padding: 12px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#cardCount {
    font-size: 15px;
}